@import 'src/index';

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 10px;
}

.headshot-container {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
    border-radius: 50%;
}

.headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

.bio-container {
    max-width: 500px;
    overflow: scroll;
    font-size: 16px;
    margin: 10px 20px;
    text-indent: 16px;
}

.photos-container {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.photo {
    height: 110px;
    width: 180px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

@media all and (max-width: 1000px) and (min-width: 701px) {
    .about-container {
        width: 100%;
    }

    .about {
        flex-direction: row;
        width: 90%;
    }

    .photo {
        height: 180px;
        width: 250px;
    }

    .photos-container {
        flex-direction: row;
        align-items: center;
        width: 80vw;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .about-container {
        display: flex;
        align-self: flex-start;
        // width: 100vw;
        // height: 100%;
    }

    .about {
        flex-direction: column;
    }

    .photo {
        height: 180px;
        width: 250px;
    }

    .photos-container {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        margin: 0px 0px 20px 0px;
    }

    .bio-container {
        max-width: 300px;
        width: 100%;
        font-size: 14px;
        margin: 10px 10px;
        text-indent: 14px;
    }
}