.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    min-height: 80vh;
    min-width: 100vw;
}

@media all and (max-width: 600px) and (min-width: 300px) {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: auto;
        min-width: 100vw;
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;
    }
}