.app-container {
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 80vh;
    min-width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.page {
    position: absolute;
}
  
.page-enter {
    opacity: 0;
    transform: scale(1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

@media all and (max-width: 600px) and (min-width: 300px) {
    .app-container {
        overflow: scroll;
        height: 100vh;
        width: 100vw;
    }

    .container {
    }

    .page {
        position: inherit;
        height: 100%;
        display: flex;
        align-items: center;
    }
}