@import './src/index';

.home-container {
    display: flex;
    flex-direction: column;
}

span {
    -webkit-text-stroke: 1px $link-hover-color-green;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    cursor: pointer;

    &:hover {
        transform: scale(1.5);
    }
}

.tease-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    margin: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.tease {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.fancy-border {
    height: 120px;
    width: 1px;
}

@media all and (max-width: 2600px) and (min-width: 1919px) {
    .tease-container {
        width: 35vw;
    }
}

@media all and (max-width: 1000px) and (min-width: 701px) {
    .home-container {
        justify-self: center;
        align-self: center;
        width: 100%;
    }

    .tease-container {
        flex-direction: row;
        width: 50%;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .mobile-hidden {
        display: none;
    }

    .tease-container {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
    }

    .tease {
        max-width: 300px;
    }
}


