@import './src/index';

.home-container {
    display: flex;
    flex-direction: column;
}

.tease-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.tease {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1000px) and (min-width: 701px) {
    .home-container {
        justify-self: center;
        align-self: center;
        width: 100%;
    }

    .tease-container {
        flex-direction: row;
        width: 100%;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .tease-container {
        flex-direction: column;
        align-items: flex-start;
    }
}


