.nav-wrapper {
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 50vw;
}

.nav a {
    text-decoration: none;
    color: inherit;

    &:focus {
        color: inherit;
    }
}

.nav-grow {
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: all .1s ease-in-out;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .nav-wrapper {
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .nav-wrapper {
    }

    .nav {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        border: none;
    }
}