@import 'src/index';

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-header {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container {
    height: 400px;
    width: 300px;
    margin: 20px;
    // background-color: $background-color-mid;
    overflow: hidden;
    font-size: 1rem;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }