@import 'src/index';

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 400px;
    max-height: 300px;
    min-height: 300px;
    max-width: 400px;
    min-width: 400px;
    padding: 0px;
    margin: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    overflow: hidden;
    will-change: transition;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: scale(1.005);

    &:hover {    
        box-shadow: 0 6px 14px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transform: scale(1.05);

        img {
            opacity: 0.05;
        }
    
        .tech-list, .code-link, .project-description, .project-title {
            transform: translateY(50%);
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }

    .project-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
    }

    .project-title {
        position: relative;
        padding: 10px;
        transform: translateY(400%);
        border-radius: 2px;
        width: 175px;
        margin: 5px auto;
    }

    .project-description {
        transform: translateY(120vh);
    }

    .code-link {
        transform: translateY(120vh);
    }

    .tech-list {
        transform: translateY(120vh);
        margin-top: 10px;
        justify-content: center;
        align-items: flex-end;
        
        .logo {
            padding: 1px;
            width: 28px;
            height: 28px;
        }
    }


}

.hidden {
    display: none;
}

@media all and (max-width: 1300px) and (min-width: 701px) {
    .projects {
        justify-content: center;
        align-items: center;
    }

    .projects-container {
        justify-content: center;
        align-items: flex-start;
    }

    .project-container {
        max-width: 300px;
        min-width: 300px;    
        max-height: 280px;
        min-height: 280px;
    }

    .project-info {
        max-width: 300px;
        min-width: 300px;    
        max-height: 280px;
        min-height: 280px;
    }

    .project-title {
        // bottom: 15px;
    }
}

@media all and (max-width: 700px) and (min-width: 300px) {
    .projects {
        width: 100%;
        overflow: scroll;
        padding: 20px 0px;
    }
    
    .projects-container {
        width: 100vw;
        height: 100%;
        align-items: flex-start;
        padding: 10px;
    }

    .project-container {
        max-width: 300px;
        min-width: 300px;    
        max-height: 280px;
        min-height: 280px;
    }

    .project-info {
        max-width: 300px;
        min-width: 300px;    
        max-height: 280px;
        min-height: 280px;
    }

    .project-title {
        transform: translateY(20px);
    }
}