$background-color-mid: #455a64;
$link-hover-color-green: rgb(34, 204, 133);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', 'Source Serif Pro', serif;
  font-weight: bold;
}

h5 {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;

  &:hover {
    color: $link-hover-color-green;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  &:active {
    color: $link-hover-color-green;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  &:focus {
    color: $link-hover-color-green;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }
}

p {
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media all and (max-width: 700px) and (min-width: 300px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}
